# Que 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Ans:- 1. * is an expression
      2. 'hello' is a value
      3. -87 is a value
      4. - is an expression
      5. / is an expression
      6. + is an expression
      7. 6 is a value

# Que 2. What is the difference between string and variable?

Ans:- 1.A variable:

a) A variable is something that holds a value that may change.  It can store a string, int, float, class, etc.
      examples:-

In [7]:
abc = 20

In [8]:
print(abc)

20

In [9]:
abc = 30

In [10]:
print(abc)

30

b) This code creates a variable called abc, and assigns to it the integer number 20. When we ask Python to tell us what is stored in the variable abc, it returns that number again. 

c) Then, we assign the integer 20 to abc, and ask again what is stored in abc. Python has thrown away the 20, and has replaced it with 30.


  2.A string:

a) A string is simply a list of characters. A character is anything you can type on the keyboard in one keystroke, like a letter, a number, or a backslash.

b) There are no limits to the number of characters you can have in a string, you can have anywhere from one to a million or more.

c) There are three ways of declare a string in Python: single quotes ('), double quotes ("), and triple quotes (""").
  
  examples:-

In [12]:
A = "iNeuron"

In [13]:
print(A)

iNeuron

In [16]:
B = "python Statistics ML"

In [17]:
print(B)

python Statistics ML

# Que 3. Describe three different data types.

Ans:- 

1.Numeric data type :-

In Python, numeric data type represents the data that has a numeric value. The numeric value can be an integer, floating number, or complex number. These values are defined as int, float, and complex classes in Python.

a) Integers – This data type is represented with the help of int class. It consists of positive or negative whole numbers without fraction or decimal. example:-

In [19]:
a = 5

In [20]:
type(a)

int

b) Float – This type is represented by the float class. It is a true number with floating-point representation. It is specified by a decimal point. example:-

In [23]:
a = 2.5

In [24]:
type(a)

float

c) Complex Numbers – Complex numbers are represented by complex classes. It is specified as (real part) + (imaginary part)j.
   example:-

In [25]:
a = 10+15j

In [26]:
type(a)

complex

2.String Data Type :-
     
The string is a sequence of Unicode characters. A string may be a collection of 1 or more characters put during a quotation mark, double-quote, or triple quote. It can be represented using an str class. 
example:-

In [27]:
b = "i live in mumbai"

In [28]:
type(b)

str

3.Boolean Data Type :- 

Data type with one of the two built-in values, True or False. Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false). It is denoted by the class bool. examples:-

In [29]:
c = True

In [30]:
type(c)

bool

In [31]:
d = False

In [32]:
type(d)

bool

# Que 4. What is an expression made up of? What do all expressions do?

Ans:- a) An expression is an instruction that combines values and operators and always evaluates down to a single value. It is a combination of values, variables, operators, and calls to functions.

b) An expressions are constructed according to the syntax of the language, that evaluates to a single value.

# Que 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans:- a) An Expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value.
 
b) A Statement is the smallest executable unit of code that has an effect, like creating a variable or displaying a value.
Each and every line of code that we write in any programming language is called a statement.
Because, all the lines are executable by the interpreter or the compiler of that programming language.

# Que 6. After running the following code, what does the variable bacon contain? bacon = 22 bacon + 1

In [4]:
bacon = 22

In [5]:
bacon + 1

23

23 is given as execution code

# Que 7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

values of both given terms is same. It is spamspamspam.

# Que 8. Why is eggs a valid variable name while 100 is invalid?

Ans:- Variable names cannot begin with a number.

# Que 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans:- 1.str(), 2.int(), 3.float()

# Que 10. Why does this expression cause an error? How can you fix it? 'I have eaten' + 99 + 'burritos'

In [3]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

This expression cause an error because strings and integer can not be concatenate. we can solve this error by converting integer 99 into string by adding "" around it.

In [4]:
'I have eaten' + "99" + 'burritos'

'I have eaten99burritos'